body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
#startInput{
  width: 400px;
  height: 20px;
  margin: 5px;
}
#endInput {
  width: 395px;
  height: 20px;
  margin: 5px;
}
/*.simple-form {
  padding: 10px;
  margin: 10px;
}*/
#methodtext {
  color: white;
  font-size: 15px;
}

a {
  color: #00B7FF;
}

html, body, #map-canvas {
  height: 400px;
  width: 500px;
  margin: 0;
  padding: 0;
}
/*
#map-canvas{
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
*/
.insta-pics{
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.route{
  padding: 10px;
  margin-left: 7%;
}
.form-group{
  width: 100%;
}

.methods{
  margin-left: 30px;
}

input{
   text-align:center;
}

body {
  /*background-image: url(../Assets/InstaTrip_v1.jpg);*/
/*  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  background-color: #231f20;

}

.insta-feed{
  float: left;
  width: 170px;
  text-align: left;
  margin: 5px 60px;
  display: inline;
  font-size: 22px
}

.home-button .memory-button {
  float: auto;
  text-align: left;
  margin: 2px 00px;
  display: inline;
}

.map-title {
  float: left;
  text-align: left;
  margin: 5px 355px;
  display: inline;
  font-size: 22px
}

.nav-bar{
/*  overflow: auto;
  width: 100%;*/
  position: relative;
  margin: 0 auto;
  /*border-radius: 10px;
  border: 2px solid #FFFFFF;*/
  background-color: #676c7f;
  /*color: white;*/
}

.img-responsive {
  margin: 10px 1px 10px 1px;
  border: 1px solid black;
}


.ngsb-wrap {
  -ms-touch-action: none;
}
.ngsb-wrap .ngsb-container {
  width: auto;
  overflow: hidden;
  transition: 0.5s all;
}
.ngsb-wrap:hover .ngsb-scrollbar {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar {
  width: 25px;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}
.ngsb-wrap .ngsb-scrollbar a.ngsb-thumb-container {
  margin: 20px 0;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-track {
  height: 100%;
  margin: 0 auto;
  width: 16px;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos {
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos .ngsb-thumb {
  transition: 0.5s all;
  width: 14px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:hover .ngsb-thumb {
  background: rgba(255, 255, 255, 0.5);
  filter: "alpha(opacity=50)";
  -ms-filter: "alpha(opacity=50)";
  /* old ie */
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
  background: rgba(255, 255, 255, 0.6);
  filter: "alpha(opacity=60)";
  -ms-filter: "alpha(opacity=60)";
  /* old ie */
}
.scrollme {
  max-height: 650px;
}
.container {
  width: 100%;
  float: left;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.team{
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin: 0 auto;
}
.team-end .teamstart {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.btn-group-wrap {
  text-align: center;
}
.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.wide {
  width:100%;
  height:0px;
/*  background-image:url('/assets/example/bg_8.jpg');
  background-size:cover;
*/}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  /*padding:25px;*/
  text-align:center;
}

.line {
  padding-top:8px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.markerWrapper {
  borderWidth: 0px;
  position: absolute;
  margin: 0 auto;
  z-index: 1000000000000000000000000;
}
.backgroundStyler {
  height: 91%;
  width: 100%;
  padding: 3px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(34,35,35,0.97);
  position: relative;
}
.picWrapper {
  width: 100%;
  height: 100%;
} 
.markerPic {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  /*left: 0px;*/
}

.backgroundStyler::after{
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 5px;
  margin-left: -5px;
}


