<!-- navbar -->
 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="#">Instatrip</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="landing">Search</a></li>
        <li><a ui-sref="display.pics">Memory Lane</a></li>
        <li><a ng-click="logIn()" href='/login'>Memory Lane</a></li>
        <li><a ui-sref="landing">Reload Images</a></li>
      </ul>
      <div class = "playlist">
        <p>How about some Tunes!</p>
        {{playlist.artist}} {{playlist.songName}}
      </p>Enjoy</p>
      </div>
    </div>
  </div>
</div>

<div class="wide">
    <div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">Logo</div>
    <div class="col-xs-5 line"><hr></div>
</div>

<!-- scrollbar and map -->
<div class="container scroller-container" style="position: absolute; top: 50px">
  <!-- scrollbar -->
  <div class="container scroller-container" style="height: 100%">

    <div class="insta-pics" id="left" style="position: absolute; width: 15%; height: 100%">

      <div ng-scrollable="{scrollX:'none',scrollY:'left'}" style="height: 100%">
        <div ui-view class="contain">
        </div>
      </div>
    </div>
  </div>
  <!-- map -->
  <!-- <div class="text-center"> -->

    <div style="position: absolute; left: 15%; width: 85%; height: 100%">
      <div id="map-canvas" style='width: 100%; height: 100%'></div>
    </div>
    <!-- </div> -->
  </div>


